@import "./colors/colors.less";

@ls-theme: {
    primary: @primary[6];
    on-primary: @gray[1];
    react-primary: @primary[5];
    active-primary: @primary[7];
}

// Generate CSS Variables

.__theme_generate_css_vars(@theme, @g-prefix) {
    each(@theme, {
        --@{g-prefix}-@{key}: @value;
    });
}

:root {
    .__colors_generate_css_vars(@primary, primary);
    .__colors_generate_css_vars(@gray, gray);
    .__colors_generate_css_vars(@rose, rose);
    .__colors_generate_css_vars(@rarity, rarity);

    .__theme_generate_css_vars(@ls-theme, ls-sys-color)
}
