@import "~/styles/theme.less";

.btn-primary {
    --ls-cmp-button-primary: var(--ls-sys-color-primary);
    --ls-cmp-button-on-primary: var(--ls-sys-color-on-primary);
    --ls-cmp-button-hover: var(--ls-sys-color-react-primary);
    --ls-cmp-button-active: var(--ls-sys-color-active-primary)
}
